# Python
__pycache__/
*.pyc
venv/
env/
*.db
*.sqlite3

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/

# Migration files (optional – you can include if you want)
# migrations/

# Instance folder
instance/